<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
    <h1>Sửa </h1>
    <form th:action="@{/saveUser}" th:object="${user}", method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <input  type="text" th:field="*{name}" class="form-control" >
            </div>
        </div>
        <div class="mb-3 row">
            <label  class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input  type="text" th:field="*{email}"  class="form-control" >
            </div>
        </div>
        <div class="mb-3 row">
            <label  class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{phone}"  class="form-control" >
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
</body>
</html>